@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

ul li{
   list-style: none;
}
ul{
    border: 2px solid black;
    padding: 10px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

h1{
    color: red;
}
body{
    background-color: lightcyan;
}