@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

ul li{
   list-style: none;
}
ul{
    border: 2px solid black;
    width: 30% ;
    margin: 0 auto;
    padding: 10px;
    background-color: lightblue;
}

h1{
    color: red;
}
body{
    background-color: lightcyan;
}